<!-- 
<form action="/users" method="post" accept-charset="UTF-8"> %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <label for="email">Email:</label>
  <input type="email" name="user[email]"><br><br>

  <label for="username">Username:</label>
  <input type="text" name="user[username]"><br><br>

  <label for="password">Password:</label>
  <input type="password" name="user[password]"><br><br>
  
  <input type="submit" value="Submit">
</form> 
-->

<!--
<%= form_tag('/users') do %>
  <%= label_tag(:email, "Email:") %>
  <%= email_field_tag(:email) %>

  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>

  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password) %>

  <%= submit_tag("Submit") %>
<% end %>
-->

<!--
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being created:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Email: <%= f.email_field :email, placeholder: "example@example.com" %><br/><br/>
  Username: <%= f.text_field :username, placeholder: "Your user name here" %><br/><br/>
  Password: <%= f.password_field :password %><br/><br/>
  <%= f.submit %>
<% end %>
-->

<%= form_with model: @user, local: true do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>
    </div>
  <% end %>

  <%= f.label :email, 'Email: '%>
  <%= f.email_field :email, placeholder: "example@example.com" %>
  <%= @user.errors[:email].first if @user.errors[:email].any? %>
  <br/><br/>
  
  <%= f.label :username, 'Username: '%>
  <%= f.text_field :username, placeholder: "Your user name here" %>
  <%= @user.errors[:username].first if @user.errors[:username].any? %>
  <br/><br/>
  
  <%= f.label :password, 'Password: '%>
  <%= f.password_field :password %>
  <%= @user.errors[:password].first if @user.errors[:password].any? %>
  <br/><br/>

  <%= f.submit %>
<% end %>
